.logobada{
    background-color:none;
    width:65px;
    height:60px;
  }

.navheader{
  top:0;
  padding:0px 0px 18px 0px;
  background-color:rgb(248,249,250);
  margin-bottom:16px;
  width:100%;
  box-shadow: 0 0.5rem 1rem rgb(255, 255, 255);
}

.navbar-toggl{
  padding: none;
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: solid 0px white;
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
      
}
      
.nav-item{
  font-size:18px;
  color:black;
  text-decoration:none;
  font-weight:bold;
  /*padding:10px;
  margin:5px;*/
}
.nav-item a:hover{
  font-weight:bolder;
 
}
      
#footer{
  bottom:0;
}

.footer{
  background-color:rgb(35, 34, 34);
  bottom: 0;
  width: 100%;
  height:auto;
  margin-top:90%;   
}


.navlink_footer{
  font-size: 18px;
  color:black;
  text-decoration: none;
  text-align: justify;
  font-weight: 600;
  display: block;
  padding:  0.5rem 1rem;
}
.navlink_footer:hover{
  font-size: 22px;
  color: rgb(248, 71, 71);
}
.credit{
  font-size:12px;
}
.credit:hover{
  font-weight:bold;
}
  
.nav-link .ft-lc{
  color:black;
}
.nav-link .ft-lc:hover{
  font-weight:bold;
}





.navbar-toggler:focus {
    text-decoration: none;
    outline: 0; 
    box-shadow: 0 ;
}
  
  /* .header-img{
    /*background-image:url("../img/back-head-img.jpg");*/
    /*background:url("/img/paper.png");*/
    /* background-image:url({% static 'img\tim.jpg' %}); */
    /* background-size:cover;
    height:427px;
    margin:0 0 3.5rem 0;
    opacity:1; */
  /* }  */
    
      
.boot-items{
  display:inline-block;
}  
.boot-items a{
    font-size:14px;
    font-weight:400;
    text-decoration:none;
    padding:12px;
    margin:16px;
    color:rgb(128,128,128);
    text-align:center;
    display:inline;
    padding-bottom:14px;
  }
.copyright{
  font-size:12px;
  color:rgb(128,128,128);
  text-align:center;
  display:inline;
  padding:12px;
  margin:16px;
}
    
.wrapp-credit{
    float:right;
    color:rgb(128,128,128);
    font-size:9px;
    text-decoration:none;
}
  
 
.mt-1{
  margin-top:0.99rem;
}

.mb-1{
  margin-bottom:0.99rem;
}

.ml-3{
  margin-left: 3.33rem;
}

.mr-3{
  margin-left: 3.33rem;
}
  
  
.p-2{
  padding:2.0rem;
  
}

.logov{
    margin:2px;
}

.brandname{
  text-align:center;
  font-weight:bold;
  line-height:3;

}
.logoimg{
  float:left
}


/*forms*/


.alert-heading{
  font-size:16px;
  color:red;
  font-weight: bolder;
}

.errorlist{
  color:red;
  font-weight:bold;
  font-family:sans-serif;
}




  
.voximg
{
  width:120px;
  height:120px;
}
      
  
.custom-mt-5{
  margin-top:5rem;
}
  /*list*/
    
.ml-3{
  margin-left: 3.33rem;
}

.mr-3{
  margin-left: 3.33rem;
}
.mony-label{
  margin-left:3.33rem;
}
  
.sell_tc{
  font-size:18px;
  line-height:2;
  letter-spacing:2px;
  text-align:justify;

}

.sell_tc::selection{
  background-color:rgba(199, 128, 250, 0.78);
  color:white;
}

.voximg
{
  width:120px;
  height:120px;
}
   

.about-heading{
  font-size:2.5em;
}

.permo{
  cursor: pointer;
}
.permo:hover{
  background-color: brown;
  color: white;
  
}


.per_process_text{
  font-size: 16px;
  font-weight:600;
}


