{% extends 'base.html' %}
{% block content %}
<!--HEader -->
<header>
  <div>
    <div class="container-fluid  header-img">
  
      <div class="row p-1 ">
        
          <div class="d-flex flex-row mb-1 ">
            <div class="p-1 mt-4 ">
              <h1 class="fs-1 text-wrap lh-sm p-1 text-left text-white fw-bolder " >Work Hard But Never Get </br>Success Find the Answer?</h1>
            </div>
         
        </div>
        <!--2-->
        <div class=" d-flex flex-column text-white ">
         <div class="p-1">
          <h5 class="fs-5 fw-bold ">Get Faster Views and Auditing </br>with Expert's Help.<h5>
        </div>
        <div class="p-2 mt-3">
          <div class="d-grid gap-3 d-lg-block"><a href="https://wa.me/7722882599?" class="block-button">Connect Now</a>
         
        </div>
      </div>
      
      </div>
        <!--Row End-->
      </div>
    
     
    </div>
    <!--The End-->
  </div>
  </header>
<!--Header-End-->
<div class="container">
    <div class="flex-row pt-4 pb-4  gx-4 gy-4">
        <div class="fs-2 p-2 text-center  fw-bolder lh-base">
            Do you want your video to go viral? But don't know what to do?
        </div>
        <div class="fs-4 p-2  text-center  fw-bolder lh-base">
            Join the best channel management service for unrivaled growth of your channel.
        </div>

    </div>
</div>
<!--Starting-->

<div class="container-fluid pb-3 mt-4 mb-4 bg-light">
    <div class="d-flex justify-content-center fs-2 fw-bold">Starting @Rs 99 Only</div>
    <div class="row px-5 mt-2 mb-3 text-center row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
           
            <div class="card-body">
              <h5 class="card-title fs-3 pb-2">Channel Initiate</h5>
              <p class="card-text fw-bold">Our team of experts will help you set up a channel according to your goals. Includes all graphics, content and target groups. We also provide guides on how to grow your channel with better views.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card  h-100">
           
            <div class="card-body">
              <h5 class="fs-3 card-title pb-2">Thumbnail & Banner Design</h5>
              <p class="card-text fw-bold">We design beautiful channel thumbnails and covers for your channel and videos that will help you achieve your goal of becoming a star creator.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
           
            <div class="card-body">
              <h5 class="card-title fs-3 pb-2">Title & Description</h5>
              <p class="card-text fw-bold">Good titles and descriptions will help video creators get more clicks on their videos and rank higher in search results. Here at ChannelKart, content writing experts write your video titles and descriptions to increase your video views.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
        
            <div class="card-body">
              <h5 class="card-title fs-3 pb-2">SEO optimization</h5>
              <p class="card-text fw-bold">Strong Seo Helps in Show Your videos in Search Results and make a Great followership. Our devoted SEO platoon Uses Its moxie to Bring Your vids in Hunt Results.
                Our Team Usages Multiple Platforms To Find outmost Suitable and Useful Keywords For Your Channel</p>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100">
          
              <div class="card-body">
                <h5 class="card-title fs-3 pb-2">Video Editing</h5>
                <p class="card-text fw-bold">A Creative and Perfect video Editing Keeps observers Engaged With video Which Helps in perfecting The followership Retention and Eventually Youtube Finds Our Content More Suitable For observers and Starts Recommending it More analogous followership.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
          
              <div class="card-body">
                <h5 class="card-title fs-3 pb-2">Collaboration</h5>
                <p class="card-text fw-bold">We help creators collaborate with each other creators to reach new audiences. This method helps to grow your audience and promote your channel. Sometimes we also help you find brand collaborations to increase your sales.
                </p>
              </div>
            </div>
          </div>
      </div>


</div>

<!--End Near-->

<div class="container-fluid  pb-4 pt-4 mt-2 bg-warning">
    <div class="d-flex justify-content-center fs-3  text-center m-3 mt-4 mb-4 text-center text-wrap">How can promoting your channel help you?</div>
     
    <div class="row px-4 gx-2 gy-2 m-2 mb-4 justify-content-evenly text-center">
        <div class="col-md-4 col-md-auto border permo-col">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
              <div class="mb-3 fs-3">Time Saving</div>
            <div class="fs-5 fw-bold">Get more time to focus on creating your  content instead of improving analysis Time to focus on content creation instead of other things</div>
        </div>
        <div class="col-md-4 col-md-auto border">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg>
              <div class="mb-3 fs-3">Stratgies</div>

            <div class="fs-5 fw-bold">We help creators create better strategies to achieve amazing results</div>
        </div>
        <div class="col-md-4 col-md-auto border">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"/>
              </svg>
              <div class="mb-3 fs-3">Quality Growth</div>
              <div class="fs-5 fw-bold">Experts bring their in-depth research and knowledge to your channel </div>
          </div>
    </div>

    <div class="row px-4 gx-2 gy-2 m-2 mb-4 justify-content-evenly text-center">
        <div class="col-md-4 col-md-auto border permo-col">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-video" viewBox="0 0 16 16">
                <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2Zm10.798 11c-.453-1.27-1.76-3-4.798-3-3.037 0-4.345 1.73-4.798 3H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-1.202Z"/>
              </svg>
              <div class="mb-3 fs-3">
                Audience Engagement</div>

            <div class="fs-5 fw-bold">If you save time, you can interact more effectively with your audience.</div>
        </div>
        <div class="col-md-4 col-md-auto border">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16">
                <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
              </svg> 
              <div class="mb-3 fs-3">
                Build A Brand</div>
  
              <div class="fs-5 fw-bold">Help of Better Content Uploaded
                Consistency, We can help you to create an
                Image of Your Channel in Viewers Mind.</div>
          </div>
        <div class="permo-col col-md-4 col-md-auto border permo-col">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-megaphone" viewBox="0 0 16 16">
                <path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49a68.14 68.14 0 0 0-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 74.663 74.663 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199V2.5zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0zm-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233c.18.01.359.022.537.036 2.568.189 5.093.744 7.463 1.993V3.85zm-9 6.215v-4.13a95.09 95.09 0 0 1-1.992.052A1.02 1.02 0 0 0 1 7v2c0 .55.448 1.002 1.006 1.009A60.49 60.49 0 0 1 4 10.065zm-.657.975 1.609 3.037.01.024h.548l-.002-.014-.443-2.966a68.019 68.019 0 0 0-1.722-.082z"/>
              </svg>
              <div class="mb-3 fs-3">
                Expolre New Audience</div>
            <div class="fs-5 fw-bold">
               Finding New Audience and their test is essential part of growth
            </div>
        </div>
    </div>
      
</div>
<!--RS-END-->




{% endblock content %}




