{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--HEader -->
<header>
    <div>
      <div class="container-fluid  header-img">
    
        <div class="row p-1 ">
          
            <div class="d-flex flex-row mb-1 ">
              <div class="p-1 mt-4 ">
                <h1 class="fs-1 text-wrap lh-sm p-1 text-left text-white fw-bolder " >Want Earn Extra from your </br> Youtube Channel </br>Don't know how?</h1>
              </div>
           
          </div>
          <!--2-->
          <div class=" d-flex flex-column text-white ">
              <div class="p-1">
               <h5 class="fs-5 fw-bold ">Get Your Youtube Channel Monetized </br>With Right Agency.<h5>
              </div>
              <div class="p-2 mt-3">
                <div class="d-grid gap-3 d-lg-block"><a href="https://wa.me/7722882599?" class="block-button">Connect Now</a>
              </div>
            </div>
          </div>
          <!--Row End-->
        </div>
      
       
      </div>
      <!--The End-->
    </div>
    </header>
<!--Header-End-->

<!--RS-->
<div class="container-fluid  pb-4 pt-4 mt-2 bg-body">
    <div class="d-flex justify-content-center fs-3  text-center m-3 mt-4 mb-4 text-center text-wrap">How can we help you to Monetize your channel ?</div>
     
    <div class="row justify-content-evenly">
        <div class="col-sm-4">
            <img src="{% static 'img/checkbox.jpg' %}" class="img-fluid border-0 rounded-0  img-thumbnail">

        </div>
        <div class="col-md-4 mt-4">
            <div class="d-flex mb-4 gx-3 align-items-stretch">
                <div class=" p-2 flex-fill text-center m-1"><h4>First</h4>
                    <p class="fs-5" style="font-weight:600;">1K Subscribers
                    </br>Completion</p>
                </div>
                <div class=" p-2 flex-fill text-center m-1"><h4>Second</h4>
                    <p class="fs-5" style="font-weight:600;">4K Hours Watch Time </br>Completion</p>
                </div>
            </div>
            <div class="d-flex mt-4  gx-3 align-items-stretch">
                <div class=" p-2 flex-fill text-center m-1"><h4>Third</h4>
                    <p class="fs-5" style="font-weight:600;">Complete </br>Monetization
                </div>
                <div class=" p-2 flex-fill text-center m-1"><h4>Final</h4>
                    <p class="fs-5" style="font-weight:600;">Monetization Issues </br> Resolution
                    
                </div>
            </div>
        </div>
           
    </div>
  
      
</div>
<!--RS-END-->



<div class="container">
    <div class="container text-center">
         <div class="fs-2  fw-light d-flex text-center justify-content-center mb-3 mt-3 pb-3 pt-3">Process</div>
        <div class="row">
          <div class="col-md-4">
            <h2 class="fw-bold text-uppercase">Step 1</h2>
            <p class="fs-5 " style="font-weight:600">Identify Problem.</p>
            <img class="img-top img-thumbnail border-0" src="{% static 'img/questionma.jpg' %}">
          </div>
          <div class="col-md-4">
            <h2 class="fw-bold text-uppercase">Step 2</h2>
            <p class="fs-5" style="font-weight:600">Connect with us via whatsapp chat.</p>
            <img class="img-top img-thumbnail border-0" src="{% static 'img/image-formeart.jpg' %}">
          </div>
          <div class="col-md-4">
            <h2 class="fw-bold text-uppercase">Step 3</h2>
            <p class="fs-5" style="font-weight:600">Get Your Business Solution.</p>
            <img class="img-top img-thumbnail border-0" src="{% static 'img/businessmanbudget.jpg' %}">
          </div>
        </div>
      </div>
  



</div>





{% endblock content %}







