{% load static %}
<footer class="p-2 mt-3" style="background-color:#f0f8ff;">
    <div class="container text-left  text-muted p-3">
        <div class="row ">
            <div class="col">
                <h5 class="text-left">BadaResellar</h5>
                <p class="lh-lg text-capitalize">Buy growth trending youtube business</p>
                <div>
                    <img src="{% static 'img/logo/logobada.jpg'  %}" width="110px" height="100px" />
                </div>
                <p>Feedback at: </br>
                    <span>badareseller@gmail.com</span>
                </p>
                
            </div>
            
            <div class="col-sm-4">
                <h5 class="text-left">Quick Links</h5>
                <nav class="nav flex-column ">
                    <a class="nav-link ft-lc  " aria-current="page" href="#">Home</a>
                    <a class="nav-link ft-lc" href="#">About us</a>
                    <a class="nav-link ft-lc" href="#">Contact us</a>
                    <a class="nav-link ft-lc" href="#">Services</a>
                </nav>
            </div>
            
            <div class="col-sm-4">
                <h5 class="text-left">More About us</h5>
                <nav class="nav flex-column">
                    <a class="nav-link ft-lc" aria-current="page" href="#">Privacy Policy</a>
                    <a class="nav-link ft-lc" href="#">Disclaimer</a>
                </nav>
            </div>
        </div>
    </div>
    
    <div class="container text-right">
        <div class="row">
            <div class="col m-3 text-right">
                <a class="credit lh-sm text-muted text-decoration-none" href="">Design & Developed by @rahul</a>
            </div>
        </div>
    </div>
            
</footer>
	