{% load static %}
<div>
  <div class="container-fluid  header-img">

    <div class="row ">
      <div class="col mt-2 m-2">
        <div class="d-flex flex-column mb-3">
          <div class="p-2">
            <h1 class="text-wrap lh-base p-1 text-white fw-bolder main-text">India’s Most Trusted </br> Platform to Buy &  </br>Sell Established </br>Youtube Channel</h1>
          </div>
          <div class="p-2">
            <div class="d-grid gap-3 d-lg-block"><a href="{% url 'channel-list' %}" class="block-button">Buy Channel</a>
              <a href="{% url 'sell-channel' %}" class="block-button">Sell Channel</a></div>
          </div>
        </div>
      </div>
      <!--2-->
      <div class="col-sm-4 mt-2">
        {% comment %} <img class="spcial-img" src="{% static 'img/logo rounded.png' %}"> {% endcomment %}
      </div>
      <!--Row End-->
    </div>
  
   
  </div>
  <!--The End-->
</div>
