{% load static %}
<nav class="navbar bg-white  pt-3 pb-3 shadow-lg ">
    <div class="container-fluid">
      <a class="#navbar-brand" href="#">
        <img class="logobada" src="{% static 'img/logo/logobada.jpg' %}" alt=""/>
      </a>
      <button class="navbar-toggl" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>
      <div class="offcanvas offcanvas-end #text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title d-none" id="offcanvasDarkNavbarLabel">Navbar</h5>
          
          <div>
            {% if request.user.is_authenticated %}
               <p> Hi {{request.user.email }},</p>
            {% else %}
               <p>Please Login First</p>
               
            {% endif %}
          </div>

          <button type="button" class="btn-close #btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            {% if request.user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="">Admin Panel</a>
            </li>
            {% endif %}
          
            {% if request.user.is_authenticated %}
               <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile-edit' %}">Profile</a>
               </li>
               <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login Now</a>
            </li>
            {% endif %} 
           
          </ul>
        </div>
      </div>
    </div>
</nav>
