{% extends 'accounts/base.html' %}

{% block content %}
<style>

</style>

<div class="incontain">
  <h1>Reset Password</h1>
<h3>Enter your new password</h3>
  <form class="form" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% comment %} {{ form.as_p }} {% endcomment %}
    <label class="mylabel" for="id_new_password1">New password:</label>
    <input class="input-fields"  type="password" name="new_password1" value="{{new_password}}" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list">
    <ul>
      <li>Your password can’t be too similar to your other personal information.</li>
      <li>Your password must contain at least 8 characters.</li>
      <li>Your password can’t be a commonly used password.</li>
      <li>Your password can’t be entirely numeric.</li>
      <li>Please Create an Strong Password </li>
  </ul>
    <label class="mylabel" for="id_new_password2">New password confirmation:</label>
    <input class="input-fields" type="password" name="new_password2" value="{{new_password2}}" autocomplete="new-password" required="" id="id_new_password2">
     
    
     
    
    <button type="submit" class="submitbtn"><i class="icon-lock4"></i> Change Password</button>
  </form>
  <a class="" href="{% url 'index' %}">Back Home</a>    
</div>


<div class="ncontainer mt-1  p-2" >
  <a href="{% url 'index' %}" class="nor-btn" width="10%">Back Home</a>
</div>



{% comment %} 
<div class="helpid03w">
  <a href="{% url 'index' %}">Back Home</a>
  <a href="{% url 'signup' %}">Don't Have Account Yet!</a>
</div> {% endcomment %}


{% endblock content %}




